h2 {
    text-align: center;
}

/* Apply a light green background to the entire body */
body {
    background-color: #d3ffd3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Style the header */
header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Center and style the navigation bar */
.navbar {
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 30px; /* Adjust the top position as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-list li {
    display: inline;
    margin: 0 15px;
}

.navbar .nav-list li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}

.navbar .nav-list li a:hover {
    background-color: #575757;
    border-radius: 5px;
}


/* Style the images */
img.center {
    display: block;
    margin: 20px auto; /* Center the images */
    transition: transform 0.3s ease; /* Add transition effect */
}

/* Apply transformation on hover */
img.center:hover {
    transform: scale(1.1); /* Increase the size of the image by 10% */
}